@charset "utf-8";
/* reset */

@import url('//at.alicdn.com/t/font_1955096_cystgoi2eg.css');


html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #F2F2F5;
}

body {
  _height: 100%
}

body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
pre,
code,
fieldset,
legend,
form,
input,
select,
textarea,
button,
p,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0
}

body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
pre,
code,
fieldset,
legend,
form,
p,
blockquote,
figure,
header,
footer,
nav,
article,
section,
aside,
address,
figcaption {
  *zoom: 1
}

li {
  list-style-type: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 600;
}

iframe,
frame,
fieldset,
img {
  border: 0 none
}

img {
  vertical-align: middle;
}

input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer
}

button {
  cursor: pointer
}

input,
textarea,
button {
  -webkit-border-radius: 0;
  -webkit-appearance: none
}

input[type=radio] {
  -webkit-border-radius: 100%;
  -webkit-appearance: radio
}

input[type=checkbox] {
  -webkit-appearance: checkbox
}

input[type=search] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -o-box-sizing: content-box;
  box-sizing: content-box
}

textarea {
  overflow: auto;
  resize: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption,
th {
  text-align: left
}

th {
  font-weight: normal
}

em,
cite,
address,
i {
  font-style: normal
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

body,
input,
select,
button,
textarea {
  font-family: '方正黑体简体'!important;
  font:16px '方正黑体简体' !important;
  font-size: 16px;
  color: #666666;
}

body {
  line-height: 1.5
}

a {
  text-decoration: none;
}

a:hover {
  color: #ac343d;
}

a {
  blr: expression(this.onFocus=this.blur());
  color: #888888;
}

a * {
  *cursor: pointer
}

:focus {
  outline: none
}

/*编辑器图片样式*/
.alignleft {
  float: left;
  margin: 6px 28px 28px 0;
}

.alignright {
  float: right;
  margin: 6px 0 28px 28px;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 28px;
}


/* clear 页头，页脚，内容区都不用再加清除样式 */
.fixed:before,
.clearfix:before,
.cf:before,
body:before,
.header:before,
.main:before,
.footer:before {
  content: '';
  display: table
}

.fixed:after,
.clearfix:after,
.cf:after,
after,
.header:after,
.main:after,
.footer:after {
  content: '';
  display: table;
  clear: both
}

.fixed,
.clearfix,
.cf,
.header,
.main,
.footer {
  *zoom: 1;
}

.clear,
.cl {
  display: block !important;
  float: none !important;
  clear: both;
  width: auto !important;
  max-width: none !important;
  min-width: 0 !important;
  max-height: none !important;
  min-height: 0 !important;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 none !important;
  font-size: 0 !important;
  line-height: 0 !important
}

/*公用样式end*/




fieldset {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-block-start: 0em;
  padding-inline-start: 0em;
  padding-inline-end: 0em;
  padding-block-end: 0em;
  min-inline-size: auto;
  border-width: 0px;
  border-style: none;
  border-color: threedface;
  border-image: initial;
}