/*询盘云表单样式*/
.usedComp{float: left;width: 48%;margin-bottom: 20px;}
.usedComp:nth-child(even){float:right;}
.usedComp:nth-child(5){width: 100%;}
.usedComp label{font-size: 14px;line-height: 36px;color: #888;text-transform: capitalize;}
.xhl-footer{float: left;}
.usedComp span{color: #c4a36d;padding-left: 5px;}
.xhl-input-xlarge{width:90%;height: 40px;border: 0;background:#F2F2F2;border:1px solid #E7E7E7;}
.xhl-controls .xhl-textarea{width: 95%;height: 150px;resize: none;border: none;background:#F2F2F2;border:1px solid #E7E7E7;}
.xhl-controls .xhl-submit,.but_pro span{background-color: #1488f5;color: #fff;border: 0;padding: 15px 35px;font-size: 16px;font-weight: bold;}
.xhl-controls{position: relative;}
.xhl-controls .xhl-form-tip{position: absolute;right: -10px;display: none;}
.xhl-footer{
	width: 100%;
	margin-bottom: 0!important;
}
#xhlFormSubmit {
   	width: 180px;
   	margin: 0 auto;
	text-align: center;
	color: #ffffff;
	height:54px;
	line-height:54px;
	/* border-radius:5px; */
	vertical-align: middle;
	background-color: #EC545F;
	margin-top: 20px;
	transition:all 0.4s;
    text-transform: uppercase;
    font-size: 20px;
}
#xhlFormSubmit:hover {
  	background-color: #58C2E1;
  	color: #fff;
}
.usedComp input {
	outline: none;
	padding: 0 5%;
}
.usedComp textarea {
	padding: 20px 2.5%;
	outline: none;
}
.xhl_form {
	background-color: transparent;
	padding: 0 !important;
}
.xhl_form .usedComp:nth-child(5) .xhl-controls input{
	height: 40px;
}
.xhl_form .usedComp:nth-child(7) {
	width: 94%;
}
.xhl-footer:hover{
	cursor:pointer;
}
.contact-box .xhl-input-xlarge{border:1px solid #e9e9e9;}
.contact-box .xhl-controls .xhl-textarea{border:1px solid #e9e9e9;}
.contact-box .usedComp{width:42%;}
.contact-box .usedComp:nth-child(even){float:right;}
.contact-box .usedComp:nth-child(5){width:94%;}
.contact-box #xhlFormSubmit{width:210px;margin:0;}
.contact-box .xhl-controls .xhl-textarea{height:82px;}


@media only screen and (max-width: 1500px) {
	/* .usedComp{width:43%;} */
	.usedComp:nth-child(even){float:right;}
}


@media only screen and (max-width: 1000px) {
	.usedComp{width:100%;margin-right:0;}	
	.contact-box .usedComp:nth-child(5){width:100%;}
	.contact-box #xhlFormSubmit{margin:0 auto;}
	.usedComp input{padding:0 5%;}
	.xhl-input-xlarge{width:90%;}
	.xhl-controls .xhl-textarea{width:90%;}
	.usedComp textarea{padding:20px 5%;}
	.usedComp:nth-child(5){width:100%;}
	.contact-box .usedComp{width:100%;}
	.xhl-footer{width:100%;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}




